{% extends './layout/LoginLayout.njk' %}

{% block title %} {{title}} - 有赞 {% endblock %}

{% block style %}
<link rel="stylesheet" href={{ "css/login.css" | css }}>
{% endblock %}

{% block content %}
<div id="app"></div>
{% endblock %}

{% block script %}
<script src={{ "js/login.js" | js }} charset="utf-8"></script>
{% endblock %}
