* {
  box-sizing: border-box;
}

html {
  padding-left: 120px;
  padding-right: 240px;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border: 1px solid red;
}

// tiny scroll bar
::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 0;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #999;
  -webkit-border-radius: 4px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #9f9f9f;
  -webkit-border-radius: 4px;
}
