# This file is auto generated when server is started.

[ALL] * => IndexController.check
[GET] / => IndexController.getIndexHtml
[GET] /who/is/your/daddy => IndexController.getWhoIsYourDaddyJson
[GET] /show/me/the/money => IndexController.getFunnyJson
[GET] /games/list.json => IndexController.getGamesListJson
[GET] /login => LoginController.getLoginHtml
[POST] /login => LoginController.login
[GET] /logout => LoginController.logout